<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add a Car</title>
    </head>
    <body>
        <h1>Add cd!</h1>
            <form class="" action="/cd_created" method="post">
                <label for="artist">Artist:</label>
                <input type="text" name="artist" id="artist">
                <br>

                <label for="title">Title:</label>
                <input type="text" name="title" id="title">
                <br>

                <button type="submit" name="button">Add your CD!</button>


            </form>

    </body>
</html>
